
@{
    ViewBag.Title = "Save";
}

<h1 class="text-primary">You'r Answer have been saved successfully.</h1>

@Html.ActionLink("Go Back", "Index", "Question",null,new {@class="btn btn-primary" })
